<div id="<%= dom_id user %>">
  <p>
    <strong>Rut:</strong>
    <%= user.rut %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= user.course_id %>
  </p>

</div>
