<div id="<%= dom_id machine %>">
  <p>
    <strong>Serial:</strong>
    <%= machine.serial %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= machine.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= machine.model %>
  </p>

  <p>
    <strong>Kind machine:</strong>
    <%= machine.kind_machine %>
  </p>

</div>
