<!DOCTYPE html>
<html class = "h-100">
  <head>
    <title>Gestión</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "cover", "data-turbo-track": "reload" %>

  </head>

  <body class="d-flex h-100 text-center text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <%= render partial: "shared/navbar" %>
    <%= yield %>
    <%= render partial: "shared/footer" %>
  </div>
  </body>
</html>
